:root {
    --color-white: #f3f3f3;
    --color-darkgreen: #1b321b;
    --color-darkgreen-alpha: rgba(27, 50, 30, 0.8);
    --color-green: #37af65;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image:
    linear-gradient(to bottom, rgba(0, 78, 4, 0.52), rgba(102, 255, 85, 0.73)),
    url(https://www.wallpapertip.com/wmimgs/10-106807_natural-green-leaves.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
}

header {
    color: var(--color-white);
    text-align: center;

}

main {
    background-color: var(--color-darkgreen-alpha);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

form {
    padding: 20px;
}